# dot files
.DS_Store

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock

# Scaffold
.env
.env.production
.env.staging
.env.development
.scaffold
build
logs
.cursorrules
.cursor/*
CLAUDE.local.md
.claude/*
archive
.vscode/

# compiled files
reactBundle.js
reactBundle.js.map

# Build files
/build
/dist
*.js.LICENSE.txt
*.reactBundle.js

# Zotero documentation
docs-zotero
/tests/manual/*