#zotero-beaver-tb-chat-toggle {
    list-style-image: url("chrome://beaver/content/icons/magic-wand.svg");
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
    fill: var(--fill-secondary);
    stroke: var(--fill-secondary);
    
    /* Standard toolbarbutton dimensions */
    width: 28px;
    height: 28px;
    padding: 4px;
}

#zotero-beaver-tb-chat-toggle:hover {
    background-color: var(--fill-quinary);
}

#zotero-beaver-tb-chat-toggle:active,
#zotero-beaver-tb-chat-toggle[selected="true"] {
    background-color: var(--fill-quarternary);
}

#zotero-beaver-tb-chat-toggle[disabled="true"] {
    opacity: .5;
}

/* #beaver-react-root {
    width: calc(100% - 53px);
    height: 100%;
} */

#zotero-beaver-chat .beaver-button {
    cursor: pointer;
    border: 1px solid var(--fill-quarternary);
    border-radius: 4px;
    line-height: 1.2;
    transition: all 0.2s ease-in-out;
    font-size: 0.9rem;
    background-color: var(--fill-quarternary);
    color: var(--fill-secondary);
}

#zotero-beaver-chat .beaver-button:hover {
    color: var(--fill-primary);    
}

#zotero-beaver-chat .beaver-button.faded {
    background-color: var(--fill-quinary);
    color: var(--fill-tertiary);
    border-color: var(--fill-quinary);
}

